<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>filler title</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      {{! header sections }}
      <div class='nav-bar border'>
        <h3>Park Trails</h3>
        <div class='nav-links'>
          {{! links fill in later }}
          <a href='#'>link one</a>
          <a href='#'>link two</a>
          <a href='#'>link three</a>
        </div>
      </div>
      <div class='home-information border'>
        <h1>Feel The Grove.</h1>
        <div class='join-today-button'>
          <button>Join Today</button>
        </div>
      </div>
    </header>
    <section class='basic-park-information'>
      {{! for search bar and sort by }}
      <div class='search-section'>
        {{! search bar }}
        <input type='text' placeholder='Search' />
        {{! sort by }}
        <div class='sort-by-section'>
          <label for='sort-by'>Sort By</label>
          <select name='sort-by' id='sort-by'>
            <option value='alphabet'>Alphabet</option>
            {{! Add more options to dropdown later}}
          </select>
        </div>
      </div>
      <div class='park-information'>
        {{! Should be generated using the api. Just for show :) }}
        <div>
          <div class='park-image'>Image</div>
          <div class='park-name'>
            <h3>Park Name</h3>
            <p>Learn more</p>
          </div>
        </div>
        <div>
          <div class='park-image'>Image</div>
          <div class='park-name'>
            <h3>Park Name</h3>
            <p>Learn more</p>
          </div>
        </div>
        <div>
          <div class='park-image'>Image</div>
          <div class='park-name'>
            <h3>Park Name</h3>
            <p>Learn more</p>
          </div>
        </div>
        <div>
          <div class='park-image'>Image</div>
          <div class='park-name'>
            <h3>Park Name</h3>
            <p>Learn more</p>
          </div>
        </div>
        <div>
          <div class='park-image'>Image</div>
          <div class='park-name'>
            <h3>Park Name</h3>
            <p>Learn more</p>
          </div>
        </div>
        <div>
          <div class='park-image'>Image</div>
          <div class='park-name'>
            <h3>Park Name</h3>
            <p>Learn more</p>
          </div>
        </div>
      </div>
      <div class='load-more'>
        <button>Load More</button>
      </div>
    </section>
  </body>
</html>