<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>filler title</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      {{! header sections }}
      <div class='nav-bar border'>
        <h3>Park Trails</h3>
        <div class='nav-links'>
          {{! links fill in later }}
          <a href='#'>link one</a>
          <a href='#'>link two</a>
          <a href='#'>link three</a>
        </div>
      </div>
      <div class='park-information border'>
        {{! filler for park name and description taking from api }}
        <h1>Park's Official Name</h1>
        <p>Brief Description of Park’s history or some other detail</p>
      </div>
    </header>
  </body>
</html>