<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Grove</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      {{! header sections }}
      <div class='nav-bar border'>
        <h3>Park Trails</h3>
        <div class='nav-links'>
          {{! links fill in later }}
          <a href='#'>link one</a>
          <a href='#'>link two</a>
          <a href='#'>link three</a>
        </div>
      </div>
      <div class='home-information border'>
        <h1>Feel The Grove.</h1>
        <div class='join-today-button'>
          <button>Join Today</button>
        </div>
      </div>
    </header>
    <section class='basic-park-information'>
      {{! for search bar and sort by }}
      <div class='search-section'>
        {{! search bar }}
        <input type='text' placeholder='Search' id="search-bar"/>
        {{! sort by }}

        <div class='sort-by-section'>
          <label for='sort-by'>Sort By</label>
          <select name='sort-by' id='sort-by'>
            <option value='Default'>None</option>
            <option value='Ascending Alphabet'>A-Z</option>
            <option value='Descending Alphabet'>Z-A</option>
            <option value='Ascending Quantity'>Highest</option>
            <option value='Descending Quantity'>Lowest</option>

            {{! Add more options to dropdown later}}
          </select>
        </div>
      </div>
      <div class='outer'>
        <div class='inner'>
          <div class='park-information'>
            {{#each parks}}
              <div class='container'>
                <div class='park-image'>Image</div>
                <div class='park-name'>
                  <h3>{{this.name}}</h3>
                  <p>Learn more</p>
                </div>
              </div>
            {{/each}}
          </div>
        </div>
        <img
          src='/stylesheets/arrow-left.svg'
          class='arrow left'
          alt=''
          width='50px'
        />
        <img
          src='/stylesheets/arrow-right.svg'
          class='arrow right'
          alt=''
          width='50px'
        />
      </div>
    </section>

    <script src='/javascripts/trailScript.js'></script>
    <script>
      let parks = [{{#each parks}} "{{this.name}}", {{/each}}]; let amount = [{{#each
        parks
      }} "{{this.amount}}", {{/each}}]
    </script>
  </body>
</html>