<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trails</title>
    <link rel='stylesheet' href='/stylesheets/trailStyle.css' />
</head>
<body>
    <button id="sortButton">Sort</button>   {{!Sorting range: Original, A-Z, Z-A, Most trails, Least trails}}
    <ul id="box">
        {{#each parks}}
        <li>
            <p>{{this.name}}</p>
        </li>
        {{/each}}
    </ul>
    <script src="/javascripts/trailScript.js"></script>
    <script>
        let parks = [{{#each parks}} "{{this.name}}", {{/each}}];
        let amount = [{{#each parks}} "{{this.amount}}", {{/each}}]
    </script>
</body>
</html>