<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title></title>
    <link rel='stylesheet' href='/stylesheets/trailStyle.css' />
    
    {{!-- Plotly --}}
    <script src="https://cdn.plot.ly/plotly-2.35.2.min.js" charset="utf-8"></script>
  </head>
  <body>
    <header>
      {{! header sections }}
      <div class='nav-bar border'>
        <h3>Park Trails</h3>
        <div class='nav-links'>
          {{! links fill in later }}
          <a href='#'>Parks</a>
          <a href='#'>About</a>
          <a href='#'>Login</a>
        </div>
      </div>
      <div class='park-information border'>
        <h1>Park's Official Name
          <span><img
              src='/stylesheets/images/information-outline.svg'
              alt=''
              width='40px'
            /></span></h1>
        <p>Brief Description of Park’s history or some other detail</p>
      </div>
    </header>
    <section class='show-difficulty'>
      <h1>Park's Official Name</h1>
      <p>Number of trails: #</p>
    </section>
    <div class="buttons">
      <button id="show-bar-graph" class="show-button">Show Difficulty Bar Graph</button>
      <button id="show-map" class="show-button">Show Map</button>
    </div>
      <div class="see-more">
      {{! navigate to different parks }}
      <div class='see-more-content'>
        <h2>See More</h2>

        {{! temp links }}
        <div class="change-content">
          {{!-- {{#each trails}} 
            <div>{{@key}}</div>
          {{/each}} --}}
          <div>Prospect Park</div>
          <div>Wolfe's Pond Park</div>
          <div>Highbridge Park</div>
          <div>Alley Pond Park</div>
          <div>High Rock Park</div>
        </div>
      </div>
    </div>
    <div class="about-park">
      <div id="show-bar-graph" class="sections">
        <section id="bar-graph">
      </div>
      <div id="show-map" class="sections">
        <section class='map'>
          {{! map section. (You can put the map here) }}
          <div>You can replace the this div with the map</div>
        </section>
      </div>
    </div>

    <script src='/javascripts/trailScript.js'></script>
    <script>
      let parkName = [{{#each trails}} '{{@key}}', {{/each}}]
      let parkTrails = [{{#each trails}} [{{#each this}} {{this}}, {{/each}}], {{/each}}];
      let difficultyLevels = [{{#each trails_difficulty}} '{{this}}', {{/each}}];
      setUp()
      difficultPark()
    </script>
  </body>
</html>