<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title></title>
    <link rel='stylesheet' href='/stylesheets/trailStyle.css' />
    
    {{!-- Plotly --}}
    <script src="https://cdn.plot.ly/plotly-2.35.2.min.js" charset="utf-8"></script>
  </head>
  <body>
    <header>
      {{! header sections }}
      <div class='nav-bar border'>
        <h3>Park Trails</h3>
        <div class='nav-links'>
          {{! links fill in later }}
          <a href='#'>Parks</a>
          <a href='#'>About</a>
          <a href='#'>Login</a>
        </div>
      </div>
      <div class='park-information border'>
        <h1>Park's Official Name
          <span><img
              src='/stylesheets/images/information-outline.svg'
              alt=''
              width='40px'
            /></span></h1>
        <p>Brief Description of Park’s history or some other detail</p>
      </div>
    </header>
    <section class='show-difficulty'>
      {{! Will show difficulty }}
      <h1>1</h1>
      <p>Difficulty level description (based off of the API)</p>
    </section>
    <section class='more-trails-one more-trails' id="bar-graph">
      {{! first row of showing more trails (I think) }}
      {{!-- <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div> --}}
    </section>
    {{!-- <section class='more-trail-two more-trails'>
      {{! second row of showing more trails }}
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </section> --}}
    <section class='map'>
      {{! map section. (You can put the map here) }}
      <div>You can replace the this div with the map</div>
    </section>
    <section class='difficulty-bar-graph'>
      {{! show difficulty bar graph }}
      <h2>Park Trails Difficulty</h2>

      {{! temp }}
      {{!-- <div>
        <div class='green'></div>
        <div class='yellow'></div>
        <div class='orange'></div>
        <div class='red'></div>
      </div> --}}

    </section>
    <section class='navigate'>
      {{! navigate to different parks }}
      <div class='navigate-content'>
        <h2>(Navigation) <br /> Other Parks</h2>
        {{! temp links }}
        <div>

          {{!-- limit this amount to 4-5 --}}
          {{#each trails}}
            <div>{{@key}}</div>
          {{/each}}

          {{!-- <div>Open Parks (tabs)</div>
          <div>some link</div>
          <div>some link</div>
          <div>some link</div>
          <div>some link</div>
          <div>some link</div> --}}
        </div>
      </div>
    </section>

    <script src='/javascripts/trailScript.js'></script>
    <script>
      let parkName = [{{#each trails}} '{{@key}}', {{/each}}]
      let parkTrails = [{{#each trails}} [{{#each this}} {{this}}, {{/each}}], {{/each}}];
      let difficultyLevels = [{{#each trails_difficulty}} '{{this}}', {{/each}}];
      plotBarGraph()
    </script>
  </body>
</html>