@font-face {
  font-family: 'DMSans';
  src: url(/stylesheets/DMSans-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  font: 14px 'DMSans', 'Lucida Grande', Helvetica, Arial, sans-serif;
}

body {
  display: grid;
  grid-template-rows: 80vh;
}

.border,
section {
  padding: 0 50px;
}

header,
.nav-bar,
.nav-links,
.home-information,
.search-section {
  display: flex;
}

header {
  color: white;
  background-color: green;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
}

.nav-bar {
  padding: 10px 50px;
  background-color: black;
  opacity: 0.5;
  justify-content: space-between;
}

.nav-bar h3 {
  color: white;
}

.nav-links {
  gap: 10px;
}

.home-information,
.search-section {
  justify-content: space-between;
  align-items: center;
}

.home-information h1 {
  font-size: 4rem;
}

.join-today-button > button {
  border: solid white;
  color: white;
  background: none;
  padding: 5px 20px;
  border-radius: 10px;
}

.basic-park-information {
  padding: 40px 50px;
}

.search-section > input {
  width: 30vw;
  font-size: 1.5rem;
  padding: 5px 10px;
}

.sort-by-section > label,
#sort-by {
  font-size: 1.5rem;
}

.outer {
  overflow: hidden;
  display: flex;
  width: 67vw;
  margin: auto;
}

.arrow {
  position: absolute;
  top: 145vh;
}

.left {
  left: 150px;
}

.right {
  right: 150px;
}
.inner {
  width: 500vw;
}

.park-information {
  display: grid;
  grid-template-columns: repeat(28, 300px);
  grid-template-rows: repeat(2, 1fr);
  margin: 30px auto;
  gap: 30px;
}

.park-image {
  text-align: center;
  background-color: lightgray;
  height: 300px;
}

.park-name {
  padding: 5px;
  color: white;
  background-color: black;
}

.park-name > h3 {
  font-size: 1.2rem;
}

.load-more > button {
  font-size: 1.5rem;
  width: 400px;
}

a {
  color: white;
  /* color: #00b7ff; */
}
